body {
  background-color: black;
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Space Grotesk", sans-serif;
}

nav {
  position: sticky;
  top: 20px;
  padding: 0 20px;
  z-index: 1;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  background-color: #1f1f1fcc;
  display: flex;
  justify-content: center;
  top: 0;
  border-radius: 50px;
  border: 1px solid #90ee90cc;
}

ul li a {
  display: block;
  color: white;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
}

ul li a:hover {
  background-color: #90ee9027;
}

.welcome {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: 
    radial-gradient(ellipse at center, transparent 0%, #000000 100%),
    linear-gradient(to right, #1e2411cc 3px, transparent 1px),
    linear-gradient(to bottom, #1e2411cc 1px, transparent 1px);
  background-size: 
    100% 100%,
    60px 80px,
    60px 80px;
  background-position: 
    center,
    0 0,
    0 0;
  background-repeat: 
    no-repeat,
    repeat,
    repeat;
}

.welcome h1 {
  font-size: 4em;
  margin: 0;
  color: green;
  padding: 20px 60px 20px 60px;
}

.welcome p {
  font-size: 1.5em;
  color: lightgreen;
  padding: 0px 60px 0px 60px;
}


/* Profile links section */

.profile {
  width: 100vw;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.profile h1 {
  font-size: 4em;
  margin: 0;
  color: green;
  padding: 20px 60px 0px 60px;
}

.profile p {
  font-size: 1.5em;
  color: lightgreen;
  padding: 0px 60px 0px 60px;
}

.links {
  display: block;
}

.profile ul {
  list-style-type: none;
  margin: 20px;
  padding: 0;
  display: flex;
  justify-content: center;
}

.profile li a {
  border-radius: 30px;
}