body {
  background-color: black;
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Space Grotesk", sans-serif;
  text-align: center;
}

nav {
  position: fixed;
  top: 0;
  padding: 0;
  background-color: #1f1f1f;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid #90ee90cc;
}

nav > ul {
  list-style-type: none;
  padding-right: 10px;
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
  top: 0;
}

ul li a {
  display: block;
  color: white;
  padding: 10px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
}

ul li a:hover {
  background-color: #90ee9027;
}

.welcome {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: 
    radial-gradient(ellipse at center, transparent 0%, #000000 100%),
    linear-gradient(to right, #1e2411cc 3px, transparent 1px),
    linear-gradient(to bottom, #1e2411cc 1px, transparent 1px);
  background-size: 
    100% 100%,
    60px 80px,
    60px 80px;
  background-position: 
    center,
    0 0,
    0 0;
  background-repeat: 
    no-repeat,
    repeat,
    repeat;
}

.welcome h1 {
  font-size: 4em;
  margin: 0;
  color: green;
  padding: 20px 60px 20px 60px;
  text-align: center;
}

.welcome p {
  font-size: 1.5em;
  color: lightgreen;
  padding: 0px 60px 0px 60px;
  text-align: center;
}

/* Project Section */

.project-section {
  width: 100%;
  max-width: 1200px;
  margin: 40px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
  place-items: center;
}

.project-container {
  display: grid;
  height: 500px;
  width: 100%;
  max-width: 400px;
  background-color: #1f1f1fcc;
  padding: 40px;
  border-radius: 30px;
  border: 1px solid green;
}

.project-title {
  font-size: 1rem;
  font-weight: bold;
}

/* Profile links section */

.profile {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.profile h1 {
  font-size: 4em;
  margin: 0;
  color: green;
  padding: 20px 60px 0px 60px;
  text-align: center;
}

.profile p {
  font-size: 1.5em;
  color: lightgreen;
  padding: 0px 60px 0px 60px;
  text-align: center;
}

.links {
  display: block;
}

.profile ul {
  list-style-type: none;
  margin: 20px;
  padding: 0;
  display: flex;
  justify-content: center;
}

.profile li a {
  border-radius: 30px;
}