h1 {
    margin: auto;
    padding-bottom: 20px;
    text-align: center;
}

.pricing-container {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid black;
  padding: 10px;
  max-width: 900px;
  margin: auto;
}

.pricing-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 200px;
  border: 2px solid black;
  align-items: center;
  margin: 10px;
}

.basic-plan {
  order: 0;
  background-color: #f8f8f8;
}

.pro-plan {
  order: 1;
  flex-grow: 2;
  background-color: aliceblue;
}

.premium-plan {
  order: 2;
  background-color: #f8f8f8;
}

h2 {
  padding-bottom: 0;
  margin-bottom: 0;
}

.pricing-card p {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: larger;
  font-weight: bold;
}

.pricing-card .price {
  border-bottom: 1px solid black;
}

.pricing-card ul {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
}

.pricing-card ul li {
  margin: 5px 0;
}

.plan-button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-bottom: 15px;
  margin-top: 15px;
  cursor: pointer;
  font-size: 16px;
}